:root{
    --logo-color: rgba(96,174,228,255);
    --btn-color: rgba(250,91,165,255);
    --text-color: rgba(150,150,150,255);
    --footer-color: rgba(181,194,214,255);
    --footer-bg-color: rgba(56,64,75,255);
}