body{
    font-family: Arial, sans-serif;
}
.wrapper{
    width: 50%;
    margin: auto;
}
.head-wrap, .wrapper{
    border: 1px solid black;
    padding: 20px;
}
.head-wrap{
    display: flex;  
    align-items: center;
    flex-direction: column;
}
.head-wrap > *{
    margin: 5px 0;
}
#taskList {
    list-style-type: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.task input[type="checkbox"] {
    margin-right: 8px;
}

.completed {
    text-decoration: line-through;
    color: grey;
}
.checkbox-hidden{
    visibility: hidden;
}
/* .task-date{
    margin: 0 20px
} */