body {
    font-family: Lucida Sans Unicode;
    font-size: 16px;
    line-height: 1.5;
    color:black;
    padding: 0; 
    margin: 0;
    background-color:ghostwhite;
}
header, nav{
    background-color: rgb(7, 217, 217);
}
nav {
    height: 50px;
}
main {
    max-width: 50%;
    margin: 0 auto;
    padding: 40px;
   }
div{
    margin-bottom: 40px;
}
ul,li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    color:black;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}

.name {
    align-items: center;
    text-align: center;
    width: 100%;
}
.name img {
    margin-top: 20px;
}
.btn{
    display: block;
    width: 320px;
    height: 50px;
    border: 2px solid black;
    background-color:rgb(7, 217, 217);
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgba(31, 191, 245, 0.697);
    text-decoration: none;
}
nav ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 0;
}
div h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
}
div ul li{
    margin-bottom: 10px;
}
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
footer {
    background-color: rgb(7, 217, 217);
    padding: 20px;
    text-align: center;
}
.soc_ico {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: url('../pics/icon-sprite.png');
    background-size: cover;   
}
.soc_ico:hover {
    opacity: 0.7;
}
.ico-inst {
    background-position: -2px 0;    
}
.ico-facebook {
    background-position: -46px 0; 

}
.ico-twitter {
    background-position: -90px 0; 
}
.ico-yt{
    background-position: -134px 0;
}
   
.ico-git{
    background-position: -176px 0;
}
.soc_link, .soc_ico{
    display: inline-block;
}
